.traditions-section {
    padding-top: 40px;

    @media screen and (min-width: $bp-tablet) {
        padding-top: 80px;
    }

    @media screen and (min-width: $bp-desktop) {
        padding-top: 96px;
    }

    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        

        @media screen and (min-width: $bp-tablet) {
            gap: 20px;
        }

        @media screen and (min-width: $bp-desktop) {
            gap: 40px;
        }
    }
    
    &__content {
        max-width: 710px;
    }
    
    &__title {
        margin-bottom: 24px;

        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 34px;
        }

        @media screen and (min-width: $bp-desktop) {
            margin-bottom: 42px;
        }
    }
    
    &__text {
        font-size: 14px;
        &--limited {
            max-width: 390px;
        }

        @media screen and (min-width: $bp-tablet) {
            font-size: 15px;
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 18px;
        }
    }

    &__img {
        display: none;
        border-radius: 400px 400px 0 0;

        @media screen and (min-width: $bp-tablet) {
            display: block;
        }
    }
}