.footer {
    position: relative;
    padding: 32px 0;
    background-color: var(--color-primary-dark );
    background-image: url(
        '../images/background-footer.png'
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        background-repeat: no-repeat;
    }

    &::before {
        left: 0;
        width: 180px;
        height: 120px;
        background-image: url(../images/bread.png);
    }

    &::after {
        right: 0;
        width: 380px;
        height: 190px;
        background-image: url(../images/two-breads.png);
    }

    &__container {
        display: flex;
        gap: 20px;
    }

    &__item {
        margin-bottom: 16px;
    }

    &__nav, 
    &__address {
        display: flex;
        flex-basis: 50%;
        gap: 20px;
    }

    &__logo,
    &__menu {
        flex-grow: 1;
    }

    &__address-link {
        color: var(--color-primary-light );
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        transition: color 0.3s;
        
        &:hover {
            color: var(--color-accent-light );
        }
    }

    &__address-list,
    &__address-info {
        flex-grow: 1;
    }

    &__address-text {
        font-size: 14px;
        font-style: normal;
        color: var(--color-secondary );
    }
}














