.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 32px;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}

.header-link {
    color: var(--color-primary-light );
    transition: color 0.3s;
}

.header-link:hover {
    color: var(--color-accent-light );
}

.header-button {
    padding: 16px 32px;
    color: var(--color-primary-light );
    font-weight: 600;
    background-color: var(--color-accent-light );
    border: 2px solid var(--color-accent-light );
    border-radius: 8px;
}

.header-button:hover {
    color: var(--color-accent-dark );
    background-color: transparent;
}
