.button {
    padding: 16px 32px;
    color: var(--color-primary-light );
    font-weight: 600;
    background-color: var(--color-accent-light );
    border: 2px solid var(--color-accent-light );
    border-radius: 8px;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
        color: var(--color-accent-dark );
        background-color: transparent;
    }
}

