.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-bottom: 8px;

    @media screen and (min-width: $bp-tablet) {
        justify-content: flex-start;
        margin-bottom: 0;
    }

    &__link {
        color: var(--color-primary-light );
        font-style: normal;
        transition: color 0.3s;
    }

    &__icon {
        fill: var(--color-primary-light );
    
        &:hover {
            fill: var(--color-accent-light );
        }
    }
}