.social {
    display: flex;
    gap: 22px;

    &__link {
        color: var(--color-primary-light );
        font-style: normal;
        transition: color 0.3s;
    }

    &__icon {
        fill: var(--color-primary-light );
    
        &:hover {
            fill: var(--color-accent-light );
        }
    }
}