.text-accent {
    color: var(--color-accent-light );
}

.text-accent-dark {
    color: var(--color-accent-dark );
}

.text-bold {
    font-weight: 600;
}

.text-uppercase {
    text-transform: uppercase;
}