:root {
    --color-primary-dark: #31261A;
    --color-primary-light:#FAF4EA;
    --color-accent-light: #819B57;
    --color-accent-dark: #465929;
    --color-background-light: #CFCFBC;
    --color-secondary: #A18268; 
}