:root {
    --color-primary-dark: #31261A;
    --color-primary-light:#FAF4EA;
    --color-accent-light: #819B57;
    --color-accent-dark: #465929;
    --color-background-light: #CFCFBC;
    --color-secondary: #A18268; 
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;